@import '../../sass/variables';

      .comment{
            background-color: $white;
            padding: 20px;
            margin: 25px 0px;
            border-radius: 8px;
            position: relative;

            &__avatar {
                  width: 40px;
                  height: 40px;
                  position: absolute;
            }

            &__month {
                  position: absolute;
                  top: 25px;
                  right: 60px;
                  color: $grayish-blue;
            }

            &__person {
                  position: absolute;
                  top: 25px;
                  left: 80px;                  
            }

            &__text {
                  padding: 50px 0px;
                  color: $grayish-blue;
                  font-weight: $weight-medium;
            }

            &__reply{
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  margin: 0px 10px;
                  padding: 24px;
            }

            &__icon-reply{  
                  margin-right: 10px;
            }
            &__text-reply{
                  color: $moderate-blue;
                  font-weight: $weight-high;
            }

            

            &__input, &__minus, &__plus {
                  width: 10px;
                  padding: 5px;
            }

            &__input {
                  
                  border: 0;
                  outline: none;
                  padding: 0px 10px;
                  background-color: $very-light-gray;
                  color: $moderate-blue;
                  font-weight: $weight-high;
                  font-size: 20px;
            }

            &__buttons {
                  align-items: center;
                  background-color: $very-light-gray;
                  border-radius: 8px;
                  bottom: 0;
                  display: flex;
                  justify-content: center;
                  margin: 15px 0px;
                  position: absolute;
                  padding: 6px 10px;
                  
                  
            }
      }
      